body {
    background-color: aqua;
    margin: 0;
}
.horizon {
    height: 40px;
    width: 500px;
    background-color: #555;
    clip-path: polygon(0% 19%, 1% 22%, 2% 26%, 3% 29%, 5% 28%, 6% 24%, 7% 23%, 9% 21%, 10% 22%, 11% 27%, 13% 30%, 15% 26%, 17% 20%, 19% 18%, 20% 17%, 22% 24%, 22% 25%, 24% 29%, 26% 29%, 28% 29%, 30% 31%, 32% 25%, 33% 20%, 36% 18%, 36% 20%, 43% 33%, 42% 32%, 46% 22%, 47% 22%, 49% 20%, 52% 21%, 53% 26%, 55% 31%, 59% 33%, 61% 27%, 63% 24%, 64% 16%, 66% 19%, 67% 23%, 71% 26%, 74% 25%, 79% 13%, 80% 9%, 84% 8%, 85% 7%, 87% 3%, 90% 8%, 91% 9%, 92% 14%, 95% 21%, 98% 28%, 99% 31%, 100% 38%, 100% 64%, 0% 57%);
}
.ground {
    height: 400px;
    width: 100%;
    background-color: black;
}