:root {
    --menu-color: #f47068;
}
.menu-background {
    padding: 0;
    list-style: none;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin: 30px auto;
    width: 70%;
    height: 0;

}
@media all and (max-width: 260px){
    .menu-background {
        width: 800vw;
        height: 800vw;
        padding: 0;
        margin-left: -400vw;
    }
}
@media (min-width: 260px) and (max-width: 600px) {
    .menu-background {
        width: 400vw;
        height: 400vw;
        padding: 0;
        margin-left: -200vw;
    }
}
@media all and (min-width: 600px){
    .menu-background {
        width: 250vw;
        height: 250vw;
        padding: 0;
        margin-left: -125vw;
    }
}
.menu-background li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    clip-path: url(#sector);

    &:hover {
        background-color: gold;
    }
}
.menu-circular {
    padding: 0;
    list-style: none;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin: 30px auto;
    width: 70%;
    height: 0;

}
@media all and (max-width: 320px) {
    .menu-circular {
        width: 230px;
        height: 230px;
        padding: 0;
        margin-left: -115px;
    }
}
@media (min-width: 320px) and (max-width: 700px) {
    .menu-circular {
        width: 300px;
        height: 300px;
        padding: 0;
        margin-left: -150px;
    }
}
@media all and (min-width: 700px) {
    .menu-circular {
        width: 400px;
        height: 400px;
        padding: 0;
        margin-left: -200px;
    }
}
.menu-heading-1 {
    position: absolute;
    left: 60%;
    top: -75%;
    color: black;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 80px;
}
.menu-heading-2 {
    position: absolute;
    left: 150%;
    top: 35%;
    color: black;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 80px;
}
.menu-heading-3 {
    position: absolute;
    left: 60%;
    top: 125%;
    color: black;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 80px;
}
.menu-circular li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    clip-path: url(#sector);

    &:hover {
        background-color: gold;
    }
}
.menu-about {
    background-color: var(--menu-color);
    transform: rotate(-30deg);
}
.menu-bookings {
    background-color: var(--menu-color);
    transform: rotate(30deg);
}
.menu-attractions {
    background-color: var(--menu-color);
    transform: rotate(90deg);
}
.menu-background video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    filter: brightness(50%);

    &:hover {
        filter: brightness(100%);
    }
}